html,
body {
    font-family: 'Inconsolata', monospace;
    font-size: large;
}

.main-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero {
    margin-bottom: 12px;
}

.social-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 6px;
    color: #5c5c5c;
}

.social-label {
    transition: color 0.25s;
    transition-timing-function: ease-out;
}

span.social-label {
    cursor: pointer;
    line-height: 22px;
    vertical-align: top
}

.social-outer {
    width: 50%;
}

.social-start {
    direction: rtl;
}

.slash-divider {
    padding-left: 1px;
}

.instagram-hover {
    color: #bc2a8d !important;
}

.facebook-hover {
    color: #4267b2 !important;
}

.linkedin-hover {
    color: #0e76a8 !important;
}

.github-hover {
    color: #333 !important;
}

.social-img {
    height: 22px;
    width: 22px;
}

.desktop-container {
    display: none;
    width: 100%;
}

.mobile-container {
    display: block;
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    html,
    body {
        height: 100%;
    }
    .main-container {
        height: 80%;
    }
    .desktop-container {
        display: block;
    }
    .mobile-container {
        display: none;
    }
}