    html,
    body {
        font-family: 'Inconsolata', monospace;
        font-size: 1.6em;
    }
    
    .main-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition-timing-function: ease-out;
    }
    
    .hero {
        margin-top: 2rem;
        margin-bottom: 2rem;
        transition: opacity 0.5s;
        opacity: 0;
    }
    
    .social-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        color: #5c5c5c;
        margin-bottom: 2rem;
        transition: color 0.25s, transform 0.25s, opacity 1s;
        opacity: 0;
    }
    
    .opacity-load-in {
        opacity: 1 !important;
    }
    
    span.social-label {
        cursor: pointer;
        line-height: 22px;
        vertical-align: top
    }
    
    .social-outer {
        width: 50%;
    }
    
    .social-start {
        direction: rtl;
    }
    
    .slash-divider {
        padding-left: 1px;
    }
    
    .instagram-hover {
        color: #bc2a8d !important;
    }
    
    .facebook-hover {
        color: #4267b2 !important;
    }
    
    .linkedin-hover {
        color: #0e76a8 !important;
    }
    
    .github-hover {
        color: #333 !important;
    }
    
    .desktop-container {
        display: none;
        width: 100%;
    }
    
    .mobile-container {
        display: block;
    }
    
    .bottom-spacer {
        flex-grow: 1;
    }
    
    .email {
        opacity: 0;
        transition: opacity 1s;
        margin-bottom: 1em;
        font-size: .8rem;
        text-decoration: none;
        color: #5c5c5c;
    }
    /* Desktops */
    
    @media only screen and (min-width: 1024px) {
        html,
        body {
            margin: 0;
            height: 100%;
            font-size: 1em;
        }
        .main-container {
            height: 100%;
            width: 95%;
            margin-left: 2.5%;
        }
        .desktop-container {
            display: block;
            margin-bottom: 5%;
        }
        .mobile-container {
            display: none;
        }
        .hero {
            margin-bottom: 1rem;
        }
        .social-container {
            margin-bottom: 1rem;
        }
        .grow-hover {
            transform: scale(1.05);
        }
        .top-spacer {
            flex-grow: 1;
        }
    }